.field-selector-main {
}

.field-selector-list {
  height: 100%;
}

.field-selector-item {
  margin: 5px;
  padding: 8px;
  border-bottom: 1px solid #b8c2cc;
  border-radius: 10px;
  background-color: lightgrey;
}
