.dashboard-main-content {
  height: 100%;
}

.dashboard-sidebar-container {
  margin-top: 0 !important;
}

.dashboard-sidebar {
  /* background-color: lightgrey !important; */
  padding: 0 !important;
}

.dashboard-pusher {
  height: 100%;
}

.drag-fix {
  opacity: 1 !important;
  background: white !important;
}
