.header-branding {
  height: 35px;
  background-color: #009c95;
  color: white;
  align-content: center;
  font-size: 13px;
  font-weight: 400;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.center-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.header-right-side-controls {
}

.side-controls-bottom {
  padding-top: 52px;
}

/* */
