.form-container-main {
  height: 100%;
}
.forms-container-canvus {
  position: relative;
  height: 100%;
  background-image: url('../../assets/checker-box.png');
  background-repeat: repeat;
}

.forms-container-canvus-controls {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: white;
  padding: 5px;
  padding-left: 20px;
}
