.form-container-main {
  height: 100%;
}
.forms-container-canvas {
  position: relative;
  height: 100%;
  background-image: url('../../assets/checker-box.png');
  background-repeat: repeat;
}

.forms-container-canvas-controls {
  position: absolute;
  background-color: white;
  padding: 5px;
  padding-left: 20px;
  z-index: 12;
}
