.udfb-form {
  position: absolute;
  background-color: white;
  padding: 5px;
  padding-top: 20px;
  border: 1px solid #b8c2cc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}
.udfb-form-drag-handle {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 20px;
  background-image: url('../../assets/boxtexture4.png');
  background-repeat: repeat;
}

.udfb-from-right-edge {
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  cursor: ew-resize;
  touch-action: 'none';
}

.udfb-from-bottom-edge {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  cursor: ns-resize;
  touch-action: 'none';
}

.udfb-from-right-bottom-corner {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  cursor: nwse-resize;
  touch-action: 'none';
}

.udfb-form-content {
  height: 100%;
  overflow-y: scroll;
}
.udfb-form-info {
  border-bottom: 1px solid #b8c2cc;
}
.udfb-form-fields {
  height: 100%;
}
